<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div>
  <h3>Details about {{pet.name}}</h3>
  <p>Type: {{pet.type}}</p>
  <p>Description: {{pet.description}}</p>
  <p>Skills: <li>{{pet.skill1}}</li> <li>{{pet.skill2}}</li> <li>{{pet.skill3}}</li></p>
  <p>Likes: {{number}}</p>
  <button (click)="increaseLikes(number)">Like this pet!</button>
  <button (click)="deletePet(pet._id)">Adopt this pet!</button>
</div>